.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 100dvh;
    display: flex;
    justify-content: center;
}
.header{
    background: black;
}
.main{
    width: 370px;
}
.img__box{
    width: 80px;
    height: 80px;
}
.img__logo{
    width: 100%;
    height: 100%;
}
.text__container{
  font-family: 'Poppis';
}
.name__plataform{
    font-weight: 600;
    text-align: center;
    font-size: 50px;
}

.text__span{
  font-weight: 400;
  text-align: center;
  font-size: 14px;
  margin-bottom: 30px;
}

.message{
  background: rgba(128, 128, 128, 0.238);
  font-size: 12px;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
  
}
/* From Uiverse.io by Yaya12085 */ 
.input-container {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
  }
  
  .input-container input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid  rgb(176 190 197);
    background-color: transparent;
    padding: 0.625rem 70px 0.625rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: rgb(69 90 100);
    outline: none;
    transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-container input:focus {
    border: 1px solid rgb(255, 207, 0);
  }
  
  .invite-btn {
    position: absolute;
    width: 65px;
    right: 4px;
    top: 4px;
    bottom: 4px;
    z-index: 10;
    border-radius: 4px;
    background-color: rgb(255, 207, 0);
    color: #fff;
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    transition: .6s ease;
  }
  
  .invite-btn:hover {
    right: 2px;
    top: 2px;
    bottom: 2px;
    border-radius: 8px;
  }
  
  .input-container input:placeholder-shown ~ .invite-btn {
    pointer-events: none;
    background-color: gray;
    opacity: 0.5;
  }

  .footer{
    margin-top: 10px;
    font-size: 14px;
    font-family: "Poppins", serif;
    font-weight: 400;
  }